@import '~sass-rem';

.heroSeachContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: rem(48px);
}

.heroSearchInput {
  width: 50%;
}

.dotaLogo {
  height: 50%;
}
